*{
    font-family: "Poppins";

}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
  position: relative;
}

.backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #007bff;
}

.backBtn:hover {
  text-decoration: underline;
}

.card {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.field {
  margin-bottom: 15px;
}

.field label {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 4px;
}

.field p {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  background-color: #f4f6f8;
  padding: 5px;
  border-radius: 5px;
}

.editBtn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.editBtn:hover {
  background: linear-gradient(135deg, #4facfe 0%, #61cdd3 100%);
}

.loading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
